<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class=" bg-zinc-900">
    <div class="w-full h-full text-white p-10">
        <div class="nav mb-10"><a  class = "text-red-700 text-1xl underline" href="/">Home</a></div>

        <h1 class="text-3xl tracking-tighter mb-3">All users</h1>
        <div class="users flex gap-3 flex-wrap">
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500">

                </div>
                <h3 class="text-2xl mt-3 tracking-tighter ">Monkey D Luffy</h3>
                <h3 class="text-zinc-500 mt-1">luffy@pirate.com</h3>
                <div class="flex gap-3 mt-10">
                    <a class="text-yellow-400" href="">Edit User</a>
                    <a class="text-pink-400" href="">delete User</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>